<nav id="sidebar">
    <ul>
        <li>
            <a href="/">
                <i class="bi bi-window-sidebar" style="margin-right: 5px;"></i>Dashboard</a>
        </li>
        <li>
            <a href="/energy">
                <i class="bi bi-lightning-fill" style="margin-right: 5px;"></i>Energy Consumption</a>
        </li>
        <li>
            <a href="/containment">
                <i class="bi bi-thermometer-snow" style="margin-right: 5px;"></i>Containment Temperatures</a>
        </li>
        <li>
            <a href="/server">
                <i class="bi bi-hdd-rack" style="margin-right: 5px;"></i>Server Temperatures</a>
        </li>
        <li>
            <a href="/hardware">
                <i class="bi bi-hammer" style="margin-right: 5px;"></i>Hardware Info</a>
        </li>
        <li>
            <a href="/controller">
                <i class="bi bi-stars" style="margin-right: 5px;"></i>Controller</a>
        </li>
    </ul>
</nav>